{% extends 'plantilla.html' %}

{% block title %}Detalles de la Reserva{% endblock %}

{% block content %}
<h1>Detalles de la Reserva</h1>
<ul>
    <li><strong>Campista:</strong> {{ reserva.campista.nombre_completo }}</li>
    <li><strong>Fecha de Inicio:</strong> {{ reserva.fecha_inicio }}</li>
    <li><strong>Fecha de Fin:</strong> {{ reserva.fecha_fin }}</li>
    <li><strong>Tipo de Alojamiento:</strong> {{ reserva.tipo_alojamiento }}</li>
    <li><strong>Número de Personas:</strong> {{ reserva.numero_personas }}</li>
    <li><strong>Estado:</strong> {{ reserva.estado }}</li>
    <li><strong>Observaciones:</strong> {{ reserva.observaciones }}</li>
</ul>
<a href="{% url 'listado_reservas' %}" class="btn btn-secondary">Volver</a>
{% endblock %}
